@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansJP-Regular.otf'), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2") format('woff2'), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff") format('woff'), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf") format('opentype');
}

body,
html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1em;
}
