/*
** Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
*/
body,
html {
  font-size: 16px;
}

body {
  font-family: "Lato", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1em;
}
