.demo-layout-transparent {
  background: url('') center / cover;
}
.mdl-layout__header-row {
  padding-left: 40px;
}
.fr-logo {
  background: url('../images/rangeforce-02_trim_adj.png') left top no-repeat;
  background-size: 242px 50px;
  height: 50px;
  width: 242px;
  float: left;
}
.demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}
