@import "_variables.scss";
@import "_init.scss";

// BEM
// block__element--modifier

.rf-color-text--primary {
  color: $color-primary;
}

.rf-color--primary {
  background: $color-primary;
}

.top-header {
  padding: 3rem 0;
  text-align: center;
}

.top-header__img {
  margin: 1em auto;
  width: 400px;
}

.top-header__slogan {
  font-size: 3rem;
}

.top-header__description {
  margin: 20px auto;
}
@media (max-width: 480px) {
  .top-header {
    // padding: 3rem 0;
  }
}

.section {
  box-sizing: border-box;
}

.section--text {
  padding: 4rem 1rem;
}

.section--text p {
  max-width: $grid-base-size;
  margin: 0 auto;
  line-height: 2em;
}

@media only screen and (min-width: $size-pc) {
  .section--rev .grid {
    direction: rtl;
  }

  .section--rev .grid > .mdl-cell {
    direction: ltr;
  }
}

.grid {
  margin: 0 6rem;
}

.grid__item {
  display: inline-block;
  padding-left: 2rem;
}

.section__content p {
  margin: 0;
}

@media (max-width: $size-pc - 1px) {
  .grid {
    margin: 0 auto;
  }

  .grid__item {
    margin-left: 0;
  }

  .section__content p {
    margin: 0 auto;
  }

  .section__image img {
    display: block;
    max-width: $grid-base-size;
    margin: 2rem auto 0;
  }
}

.grid--middle > .mdl-cell {
  vertical-align: middle;
}

.is-small-screen .section--text {
  // display: none;
}

.section-info {}

.footer {
  padding: 1rem;
}
