@import "_variables.scss";
@import "_init.scss";
/**
 * BEM
 * block__element--modifier
 */
.rf-color-text--primary {
  color: $color-primary;
}

.rf-color--primary {
  background: $color-primary;
}

.top-header {
  padding: 3rem 0;
  text-align: center;
}

.top-header--profile {
  padding: 3rem 0 1rem;
  text-align: center;
}

.top-header__img {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 440px;
  width: 80%;
}

.top-header__slogan {
  font-size: 3rem;
  padding: 0 1rem;
}

.is-small-screen .top-header__slogan {
  font-size: 2rem;
}

.top-header__description {
  max-width: $size-grid;
  margin: 20px auto;
  padding: 0 1rem;
}

.section {
  box-sizing: border-box;
}

.section--text {
  padding: 4rem 1rem;
}

.section--text p {
  max-width: $size-grid;
  margin: 0 auto;
  line-height: 2em;
}
@media only screen and (min-width: $size-pc) {
  .section--rev .grid {
    direction: rtl;
  }

  .section--rev .grid > .mdl-cell {
    direction: ltr;
  }

  .grid__item {
    padding-left: 2rem;
  }
}

.grid {
  margin: 0 6rem;
}

.section__content-header {
  font-size: 2rem;
}

.section__content p {
  margin: 0 auto;
}

.section__image img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.section__image--center {
  margin: 2rem auto 0 !important;
}

.grid--middle > .mdl-cell {
  vertical-align: middle;
}

.learner-list {
  margin: 0 auto;
  padding: 0;
  max-width: $size-grid;
}

.learner-list__item {
  padding: 0;
  min-height: 2.4em;
  font-size: 1rem;
}

.info-list {
  max-width: 300px;
  margin: 0 auto;
}

.footer {
  font-size: 0.7rem;
  padding: 0.35rem 1rem;
}

.mdl-logo a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.section--profile {
  padding: 0 1rem 4rem;
}

.section--profile__item {
  margin: 2rem 0;
}

.section--profile__list {
  width: 65%;
  margin: 0 auto;
}

.section--profile__list th {
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.section--profile__list--middle {
  vertical-align: middle !important;
}

.section--profile__list dd {
  margin: 0;
}

.section--profile__list--wrap {
  white-space: normal;
}
@media (max-width: $size-grid) {
  .rlb::before {
    content: "\000a";
    white-space: pre-line;
  }

  .section--profile__list {
    width: 100%;
  }

  .section--profile__list--grid-wrap {
    white-space: normal;
  }
}
@media (max-width: $size-pc - 1px) {
  .grid {
    margin: 0 auto;
  }

  .grid__item {
    margin-left: 0;
  }

  .section__content p {
    margin: 0 auto;
  }

  .section__image img {
    display: block;
    max-width: $size-grid;
    margin: 2rem auto 0;
  }
}
